library-app/HELP.md
library-app/.gradle
library-app/build/
library-app/!gradle/wrapper/gradle-wrapper.jar
library-app/!**/src/main/**/build/
library-app/!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
library-app/bin/
library-app/!**/src/main/**/bin/
library-app/!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
library-app/.idea
*.iws
*.iml
*.ipr
out/
library-app/!**/src/main/**/out/
library-app/!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.DS_Store
.vscode/